* {
    font-family: "CodeNewRoman Nerd Font Propo"; /* Padding is fucked if using stylix font */
}
window#waybar{
    border-radius:10px;
    background: alpha(@base00, 0.65); /*background*/
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
tooltip {
    background: alpha(@base00, 0.85); /*background*/
    color: alpha(@base07, 0.8); /*color7*/
}


/* -- Custom Workspaces -- */
#workspaces {
    padding: 7px 5px;
}
#workspaces button {
    all:unset;
    padding: 0px 5px;
    color: alpha(@base07, 0.4); /*color7*/
    transition: all .2s ease;
}
#workspaces button:hover {
    color: alpha(@base07,1.0);
    border: none;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, .9);
    transition: all 1s ease;
}
#workspaces button.active, #workspaces button.empty.active {
    color: alpha(@base07, 0.8); /*color7*/
    border: none;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, .9);
}

/* -- Widgets -- */
#clock:hover, #custom-notification:hover,#pulseaudio:hover,#bluetooth:hover,#network:hover,#battery:hover, #cpu:hover,#memory:hover,#temperature:hover,#backlight:hover{
    transition: all .3s ease;
    color: alpha(@base04, 0.8); /*hover*/
}

#custom-notification {
    padding: 0px 10px 0px 5px;
    transition: all .3s ease;
    color: alpha(@base07, 0.8); /*color7*/
}

#clock{
    padding: 0px 5px;
    color: alpha(@base07, 0.8); /*color7*/
    transition: all .3s ease;
}

#pulseaudio{
    padding: 0px 5px;
    transition: all .3s ease;
    color: alpha(@base07, 0.8); /*color7*/
}

#bluetooth{
    padding: 0px 5px;
    transition: all .3s ease;
    color: alpha(@base07, 0.8); /*color7*/
}

#network{
    padding: 0px 5px;
    transition: all .3s ease;
    color: alpha(@base07, 0.8); /*color7*/
}

#battery{
    padding: 0px 5px;
    transition: all .3s ease;
    color: alpha(@base07, 0.8); /*color7*/
}

#battery.charging {
    color: #26A65B;
}

#battery.warning:not(.charging) {
    color: #ffbe61;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#group-expand{
    padding: 0px 5px;
    transition: all .3s ease; 
}

#custom-expand{
    padding: 0px 5px;
    color: alpha(@base04, 0.2);; /*foreground*/
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
    transition: all .3s ease; 
}

#custom-expand:hover{
    color:rgba(255,255,255,.2);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}

#cpu,#memory,#temperature,#backlight{
    padding: 0px 5px;
    transition: all .3s ease; 
    color: alpha(@base07, 0.8); /*color7*/
}

#custom-endpoint{
    /*padding: 0px 0px 0px 7px;*/
    color:transparent;
    color:alpha(@base04, 0.2);; /*foreground*/
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
}

#tray{
    padding: 0px 5px;
    transition: all .3s ease; 
}

#tray menu * {
    padding: 0px 5px;
    transition: all .3s ease; 
}

#tray menu separator {
    padding: 0px 5px;
    transition: all .3s ease; 
}